
<form method='post' action='/posting'>
<h2>名前:</h2>
<input type='text' name='name' placeholder='名無し'>
<h2>内容</h2><br>
<textarea name="comments" rows='10' cols='50'></textarea>
<input type="submit" value="投稿">
</form>

<h1>コメント一覧</h1>

<% @table.find.sort({date:-1}).each do |contents| %>
	<p>名前:<%= h convertBr(contents['name'])%></p>
	<p><%= convertBr(h(contents['comments']))%></p><br>
<% end %>
